body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-box {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: center;
}

.recipe-list{
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.recipeHeader {

  padding-top: 50px !important;
}

.logo {

  width: 600px !important;
}

.pagination {
  margin: 40px 40px 40px 0 !important;
}

.cardContent:hover {
  color: #e54e62!important;
}

.navigation > li {
  list-style: none !important;
  display: inline !important;
  margin-right: 20px !important;
}
.link {
  list-style: none !important;
  text-decoration: none !important;
  border-bottom: solid 2px #fff !important;
  transition: border ease-in 0.5s !important;
  color: rgb(206, 87, 87) !important;
}
.link:hover {
  border-bottom: solid 2px rgb(206, 87, 87) !important;
}

.aboutHeader{
  color: #e54e62 !important;

}

