body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-box {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: center;
}

.recipe-list{
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
}

.logo {

  width: 600px !important;
}

.pagination {
  margin: 40px 40px 40px 0 !important;
}

.cardContent:hover {
  color: #e54e62!important;
}

.navigation > li {
  list-style: none !important;
  display: inline !important;
  margin-right: 20px !important;
  font-size: 16px !important;
}

.link {
  list-style: none !important;
  text-decoration: none !important;
  border-bottom: solid 1px #fff !important;
  transition: border ease-in 0.5s !important;
  color: #e54e62 !important;
}

.gitHub{
  text-decoration: none !important;
  border-bottom: solid 1px #e54e62 !important;
  color: #e54e62 !important;

}

.aboutHeader{
  color: #e54e62 !important;

}

.deselected {
	transition: border ease-in 1s !important;
  color: #e54e62
}
.deselected:hover {
	border-bottom: solid 1px #e54e62  !important;
  color: #e54e62
}
.selected {
	border-bottom: solid 1px #e54e62 !important;
  color: #e54e62;
}

.selected:hover {
	border-bottom: solid 1px #e54e62 !important;
  color: #e54e62;
}

.aboutContainer > p {
  max-width: 700px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center !important;
  color: #e54e62 !important;
  font-size: 16px !important;
}

.aboutImages {
  align-items: center !important;
  align-content: center !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  
}

